@import '../../index.scss';
.container {
    display: flex;
    // max-width: 160rem;
    
    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.main {
    background: var(color-grey-light);
    flex: 1;
}

.person {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
        height: 80vh;
    }

    &__img {
        height: 35rem;
        margin-right: 2rem;
        box-shadow: 0 2rem 4rem grey;
        animation: moveLeft 1.2s ease-in; 

        @media only screen and (max-width: $bp-largest) {
            height: 40rem;
        }

        @media only screen and (max-width: $bp-medium) {
            height: 30rem;
            margin: 2rem;
        }
    }
    
    &__header-one {
        font-size: 3rem;
        text-transform: uppercase;
        margin-bottom: 3rem;    
    }

    &__halfone {
        margin-right: .7rem;
        color: var(--color-primary);
        display: block;
    }
}

.ani {
    animation: moveRight 1.2s ease-out;    
}


  

  