@import '../../index.scss';

.sidebar {
    background: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 25%;
    color: var(--color-grey-light);
    padding: 2rem;

    @media only screen and (max-width: $bp-large) {
    }

    &__logo {
        font-size: 2.5rem;
        border: .5rem solid #f7f7f7;
        display: inline-block;
        padding: 2rem;
        color: var(--color-grey-light);

        @media only screen and (max-width: $bp-medium) {
            font-size: 1.5rem;
        }
    }

    &__content-container {
        @media only screen and (max-width: $bp-medium) {
            display: none;
        }
    }

    &__content {
        font-size: 1.9rem;

        @media only screen and (max-width: $bp-medium) {
            padding: 1rem 0;
        }
    }

    &__description {
        font-size: 1.7rem;
    }
  
}
